.mxw190 {
	max-width: 190px;
	max-height: 50%;
}
.mxw500 {
	max-width: 500px;
}
.mxw550 {
	max-width: 550px;
}
.mxw600 {
	max-width: 600px;
}
.mxw650 {
	max-width: 650px;
}
.mxw700 {
	max-width: 700px;
}
.mxw750 {
	max-width: 750px;
}
.mxw800 {
	max-width: 800px;
}
.mxw850 {
	max-width: 850px;
}
.mxw900 {
	max-width: 900px;
}
.mxw1200 {
	max-width: 1200px;
}

/* 디스플레이 */
.inblock {
	display: inline-block;
}
.nodisplay {
	display: none;
}

/* 마진 클래스 */
.mg0 {
	margin: 0px;
}
.mgt5 {
	margin-top: 5px;
}
.mgt10 {
	margin-top: 10px;
}
.mgt20 {
	margin-top: 20px;
}
.mgt40 {
	margin-top: 40px;
}
.mgb0 {
	margin-bottom: 0px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mgb40 {
	margin-bottom: 40px;
}
.mgl10 {
	margin-left: 10px;
}
.mgl20 {
	margin-left: 20px;
}
.mgl30 {
	margin-left: 30px;
}
.mgl40 {
	margin-left: 40px;
}
.mgl60 {
	margin-left: 60px;
}
.mgl80 {
	margin-left: 80px;
}
.mgl110 {
	margin-left: 110px;
}
.mgr5 {
	margin-right: 5px;
}
.mgr20 {
	margin-right: 20px;
}
.mgr30 {
	margin-right: 30px;
}
.mgr40 {
	margin-right: 40px;
}
.mgr55 {
	margin-right: 55px;
}
.mgr60 {
	margin-right: 60px;
}

/* 패딩 클래스*/
.pd0 {
	padding: 0px;
}

.pdAll10 {
	padding: 10px;
}
.pdAll40 {
	padding: 40px;
}

.pdt5 {
	padding-top: 5px;
}
.pdt10 {
	padding-top: 10px;
}
.pdb10 {
	padding-bottom: 10px;
}
.pdl10 {
	padding-left: 10px;
}
.pdl20 {
	padding-left: 20px;
}
.pdl30 {
	padding-left: 30px;
}
.pdr20 {
	padding-right: 20px;
}
.pdr30 {
	padding-right: 30px;
}
.pdv30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* size */
.w99per {
	width: 99%;
	margin-left: 10px;
	margint-right: auto;
}
.w480 {
	width: 480px;
}
.w650 {
	width: 650px;
}
.w300 {
	width: 300px;
}
.w250 {
	width: 250px;
}
.w210 {
	width: 210px;
}
.w200 {
	width: 200px;
}
.w180 {
	width: 180px;!important
}
.w150 {
	width: 150px;
}
.w120 {
	width: 120px;
}
.w100 {
	width: 100px;
}
.w50 {
	width: 50px;
}
.w80 {
	width: 80px;
}

.h20 {
	height: 20px;
}
.h28 {
	height: 28px;
}
.h40 {
	height: 40px;
}
.h100per {
	height: auto;
	bottom: 0px;
}
.bdminH {
	min-height: 60px;
	padding-bottom: 5px;
}
.box250 {
	width: 250px;
	height: 250px;
}
.cntnt100 {
	width: 100px;
	height: 100px;
} 

.imgBox230 {
	width: 230px;
	height: 230px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.imgBox300 {
	width: 300px;
	height: 250px;
	margin-top: 10px;
	overflow: hidden;
}
.img210 {
	width: 230px;
	height: auto;
}

.ft8 {
	font-size: 8pt;
}
.ft10 {
	font-size: 10pt;
}
.ft12 {
	font-size: 12pt;
}

.ft20 {
	font-size: 20pt;
	font-weight: bold;
}
.clrgrey {
	color: #aaaaaa;
}
.box120 {
	width: 120px;
	height: 120px;
}
.avtBox100 {
	width: 100px;
	height: auto;
}

.noresize {
	resize: none;
}
.vresize {
	resize: vertical;
}

.avtBoxPosition {
	position: relative;
	left: -7px;
}

.border3px {
	border: 3px solid lightgrey;
}

.bdt {
	border-top: 5px solid #A3D044;
}

.bdr {
	border-right: 2px solid #A3D044;
}

.bgcg {
	background-color: #D3D3D3;
}

.flotl {
	flot: left;
	overflow: hidden;
}

.flotr {
	flot: right;
	overflow: hidden;
}
.label {
	widht: 150px;
	height: 28px;
}
.input {
	width: 280px;
}

select {
	width: 280px;
	height: 28px;
}

.bgcw {
	background-color: white;
}

.bgcg {
	background-color: #E2E2E2;
}

.phalign::-webkit-input-placeholder {
	text-align: right;
	margin-right: 10px;
}

/* 탭 전체 스타일 */
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
	margin-left: 20px;
 }

/* 탭 스타일 */
.tab_item {
  width: calc(30%/3);
  height: 50px;
  border-bottom: 3px solid #333333;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/* 선택 된 탭 콘텐츠를 표시 */
#put:checked ~ #content,
#acad:checked ~ #content,
#carrier:checked ~ #content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #333333;
  color: #fff;
}